<main class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h1 class="d-flex justify-content-center">Hello, Dr. Noori!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-dark p-3 search-block">
        <i class="fa fa-search pr-2"></i>
        <strong>Search your patients</strong>
      </div>
      <div class="col-md-12">
        <div class="bg-white">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Basic</button>
              <button class="nav-link" id="nav-advanced-tab" data-toggle="tab" data-target="#nav-advanced" type="button" role="tab" aria-controls="nav-advanced" aria-selected="false">Advanced</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <form [formGroup]="searchForm">
                <div class="form-row">
                  <div class="col-md-12 p-3">Patient Info </div>
                  <div class="col-md-3 p-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" aria-describedby="firstName" formControlName="firstName">
                  </div>
                  <div class="col-md-3 p-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" aria-describedby="lastName" formControlName="lastName">
                  </div>
                  <div class="col-md-2 p-3">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob" formControlName="dob">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12 p-3">Appointment Range</div>
                  <div class="col-md-2 p-3">
                    <label for="startDate">Start date</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate">
                  </div>
                  <div class="col-md-2 p-3">
                    <label for="endDate">End date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate">
                  </div>
                </div>
                <div class="w-100 d-flex justify-content-end p-3">
                  <button type="button" class="btn search-btn" (click)="searchPatients()">Search</button>
                </div>
              </form>              
            </div>
            <div class="tab-pane fade" id="nav-advanced" role="tabpanel" aria-labelledby="nav-advanced-tab">
              <div class="d-flex justify-content-center align-items-center w-100 p-5">Advanced Filter options</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-5">
        <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item mr-4" [ngClass]="{'selected-all': selectedTabItem === tabOptions.Patient}" 
            (click)="toggleItemsTab(tabOptions.Patient)">
            <i class="fa fa-user pr-2"></i><strong>Todays Patient</strong>
          </li>
          <li class="list-inline-item" [ngClass]="{'filtered-items': selectedTabItem === tabOptions.Search}"
            (click)="toggleItemsTab(tabOptions.Search)">
            <i class="fa fa-bars pr-2"></i><strong>Search Results</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-12">
        <div *ngIf="patientsData.length < 1" class="no-results d-flex justify-content-center align-items-center h-30 bg-white">
          No results found matching the filtered criteria
        </div>
        <div class="card mb-3" *ngFor="let patient of patientsData">
          <div class="card-header d-flex align-items-center">
            <img [src]="patient.imgPath" class="mr-3" width="24px" height="24px">
            <div>{{ patient.firstName }}&nbsp;{{ patient.lastName }}</div>
            <div class="ml-auto pr-2">
              <div class="d-inline">
                Appointment: <span>{{ patient.appointmentDate }}</span>
              </div>
              <button type="button" class="btn d-inline ml-3">
                <i class="fa fas fa-angle-right" style="font-size: 16px;"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="patient-item">
                  <span class="patient-info-type">DOB</span>
                  <span class="patient-value">{{ patient.dob }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Sex</span>
                  <span class="patient-value">{{ patient.sex }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Residence</span>
                  <span class="patient-value">{{ patient.residence }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">MRN</span>
                  <span class="patient-value">{{ patient.MRN }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="patient-item">
                  <span class="patient-info-type">ID Number</span>
                  <span class="patient-value">{{ patient.id }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Last 4 digits of SSN</span>
                  <span class="patient-value">{{ patient.lastDigitssn }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Phone Number</span>
                  <span class="patient-value">{{ patient.phoneNumber }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Email Address</span>
                  <span class="patient-value">{{ patient.emailAddress }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="patient-item">
                  <span class="patient-info-type">Hospital</span>
                  <span class="patient-value">{{ patient.hospital }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Dept.</span>
                  <span class="patient-value">{{ patient.dept }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Physician</span>
                  <span class="patient-value">{{ patient.physician }}</span>
                </div>
                <div class="patient-item">
                  <span class="patient-info-type">Conditions</span>
                  <span class="patient-value">{{ patient.conditions }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<router-outlet />
